* {
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
}
body {
    width: 100%;
    background-color: #dcfff3;
}
.movie {
    float:left;
    width:300px;
    height: 500px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #78ceb0;
    border: 2px black solid;
    border-radius: 15px;
}
#movieWindow {
		display: none;
        position: fixed;
        top: 50px;
        right: 100px;
        left: auto;
		background: rgba(143, 241, 207, 0.9);
		width: 80%;
        height: 80%;
        border: 2px black solid;
        border-radius: 15px;
        z-index:2;
}
#shut {
    display: none;
    position: fixed;
    top: 60px;
    right: 116px;
    width: 40px;
    height: 40px;
    background-color: black;
    border: 2px red solid;
    color: red;
    font-size: 30px;
    cursor: pointer;
    z-index: 3;
}
#movieWindow p {
    padding: 5px;
    padding-left: 30px;
}
aside {
    float:left;
    width: 15%;
    text-decoration: none;
}
aside ul li a {
    display: block;
    width: 160px;
    height: 40px;
    font-size: 25px;
    list-style-type: none;
    background-color: rgb(120, 206, 176);
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 15px;
    box-shadow: 3px 3px;

}
.hoveredGenre {
    width: 200px;
    height: 50px;
    background-color: rgb(21, 85, 62);
    color: rgb(202, 224, 216);
    border-color: rgb(202, 224, 216);
}
main {
    float: left;
    width: 83%;
    background-color: #dcfff3;
}
header {
    width: 90%;
    margin: 10px auto;
    height: 300px;
    background-color: rgb(120, 206, 176);
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
}
#loginwindow{
    float:right;
}
#loginform {
    display: none;
    width: 200px;
    height: 150px;
}
#loginform form{
    margin: 10px;
}
input [type="text"] {
    background-color: #dcfff3;
    font-size: 30px;
}
.headerButton{
    background-color: rgb(120, 206, 176);
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    height:40px;
    color: black;
    position: absolute;
    top: 240px;
    right: 5%;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 3px 3px;

}
#loginMessage {
    margin: 20px;
    display: inline-block;
    width: 200px;
}
#logout {
    display: none;
}
.imgDiv {
    width: 200px;
    height: 100%;
    display: inline-block;
}
#imgBigdiv {
    height: 100%;
    width: auto;
    float: left;
    margin-left: 80px;
}